@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  background-color: whitesmoke;
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  color: var(--color);
  background: var(--bgColor);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-size: 62.5%; */
}
/* .main {
  display: flex;
  /* flex-direction: column; */
/* } */
.nav-bar {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 6rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.main-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  /* margin-bottom: 250px; */
}

nav a {
  background-image: linear-gradient(to right, #e2aa30, orange 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0.5rem 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:before {
  content: "";
  background: orange;
  display: block;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0;
  height: 0.3rem;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-position: 0;
}

nav a:hover::before {
  width: 100%;
}

.btn:link,
.btn:visited {
  font-weight: 4rem;
  text-decoration: none;
  padding: 1.5rem 4.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: orange;
  color: black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: orange;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 3s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
  padding-bottom: 2rem;
}

.text-head {
  margin-top: 15rem;

  /* padding-left: 200px; */
  display: grid;
  grid-template-rows: 10rem 10rem 10rem 10rem;
}

.text-head p {
  padding-left: 15rem;
  /* margin-left: 50px; */
}

.text-head h1 {
  padding-left: 17rem;
  font-size: 4.6rem;
  margin-left: 10rem;
  /* margin-top: 30px; */
}

.text-low {
  padding-top: 2rem;
  margin-top: 1rem;
}
#text-low {
  padding-left: 30rem;
  font-size: 2rem;
  margin-left: 10rem;
  padding-bottom: 10rem;
}
.text-box {
  /* margin-top: 150px; */
  margin-left: 25rem;
}
.Main-img {
  margin-left: 20rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

/* img:hover {
  height: 490px;
} */

main {
  /* margin-top: 200px; */
}

h1 {
  transform: translate(0, -40%);
  font-size: calc(7rem + 1.6rem);
  font-family: serif;
  background-color: #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: contain;
  position: relative;
  animation: focus-in-contract 1s linear 0s 1 normal none;
  -webkit-text-stroke: 0.1rem #ef9517;
  filter: drop-shadow(0 0 0.2rem rgba(210, 139, 15, 0.7))
    drop-shadow(0 0 0.2rem rgba(221, 162, 44, 0.7))
    drop-shadow(0 0 3rem rgba(228, 197, 20, 0.8))
    drop-shadow(0 0 3rem rgba(253, 189, 27, 0.8));
}

@keyframes shine {
  0% {
    background-position: -120%;
  }
  10% {
    background-position: 120%;
  }
  100% {
    background-position: 120%;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(1.2rem);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.nav-bar li {
  animation: focus-in-zoomout 1s linear 0s 1 normal none;
}

@keyframes focus-in-zoomout {
  0% {
    letter-spacing: 1em;
    transform: translateY(30rem);
    filter: blur(1.2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
  }
}

.text-low {
  animation: text-shadow-multicolor 2s ease 0s infinite normal none;
}

@keyframes text-shadow-multicolor {
  0% {
    text-shadow: 0 0px 1.5rem #f0ced9;
  }
  33% {
    text-shadow: 0 0px 1.5rem #0ff;
  }
  66% {
    text-shadow: 0 0px 1rem #0f0;
  }
  100% {
    text-shadow: 0 0px 1rem #ff0;
  }
}

.text-box a {
  animation: shutter-in-top 1s linear 0s 1 normal none;
}

@keyframes shutter-in-top {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@font-face {
  font-family: "Frozen";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
}

.text-low,
#text-low {
  font-size: 3rem;
  font-weight: bold;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  padding-top: 4rem;
  padding-bottom: 2rem;
  gap: 10rem;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
}

.avatar {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-2rem);
  }
  100% {
    transform: translatey(0px);
  }
}

.text-low:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#text-low:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-0.1rem);
  }
  20%,
  80% {
    transform: translateX(0.2rem);
  }
  30%,
  50%,
  70% {
    transform: translateX(-0.4rem);
  }
  40%,
  60% {
    transform: translateX(0.4rem);
  }
}

.About {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70rem 1fr;
  padding-top: 10rem;
  color: whitesmoke;

  padding-left: 4rem;
  /* gap: 20px; */
  /* padding: 300px; */
}

body {
  line-height: 1.6;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 200px 100px 0 100px; */
  /* margin-right: 200px; */
}

.about-head {
  display: grid;
  /* grid-template-rows: 1fr 2fr; */
  grid-template-rows: 0.5fr 2fr;
  padding-left: 10rem;
}

.about-text {
  padding-right: 20rem;
  font-size: 2.2rem;
  margin-top: 5rem;
}

.about-h2 {
  padding-left: 40rem;
}

.about-skills {
  background: rgb(225, 114, 24);
  background: linear-gradient(0deg, #e06f12 0%, rgba(255, 188, 44, 1) 45%);
  color: #f3feb8;
}

.background-img {
  background-image: url(/Main-portfolio/Assets/pngtree-d-background-for-education-posts-welcoming-kids-and-students-back-to-image_13585453-removebg-preview.png);
  background-repeat: no-repeat;
  /* padding-bottom: 300px; */
  background-position: top 0% right 100%;
  padding-right: 10rem;
}

.img-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50rem 30rem;
}

.special-img {
  background-image: url(/Main-portfolio/Assets/3d-hacker-cartoon-hacking-computer-with-headphones_1054285-12008-removebg.png);
  background-repeat: no-repeat;
  background-position: right 100% top 0%;
  background-size: 52.4rem;
  padding-bottom: 20rem;
}

.foot-swich {
  width: 100%;
  background-image: url(/Main-portfolio/Assets/swish_orange_gradient.png);
  background-size: 100% 18rem;
  /* background-position: center top; */
  background-repeat: no-repeat;
  height: 18rem;
  border-top: 1rem solid whitesmoke;
}

.foot-swich2 {
  width: 100%;
  background-image: url(/Main-portfolio/Assets/about-down.png);
  background-size: 100% 18rem;
  /* background-position: center top; */
  background-repeat: no-repeat;
  height: 18rem;
  background-color: #f0ced9;
}
.about-text {
  font-size: 2.5rem;
}

.about-head {
  font-size: 4rem;
  padding-left: 6rem;
}

.about-skills {
  /* padding-bottom: 70px; */
  margin-bottom: -1rem;
}
.skills {
  padding-top: 10rem;
  display: grid;
}

.skills h2 {
  justify-self: center;
}
.skills-show {
  display: grid;
  grid-template-rows: 80rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.skill-html::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75))
    blur(0.5rem);
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  color: var(--color);
  background: var(--bgColor);
}

ol li {
  counter-increment: stepnr;
  width: 28.8rem;
  --borderS: 1.6rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 3.2rem);
  position: relative;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(218, 102, 44, 0.75))
    blur(0.4rem);
}

.img-html {
  padding-right: 3rem;
}

.img-css {
  padding-left: 10rem;
}

.skill-css li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(44, 134, 218, 0.75))
    blur(0.4rem);
}

.skill-js li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(212, 218, 44, 0.75))
    blur(0.4rem);
}

.skill-python li::after {
  content: "";
  display: block;

  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgb(200, 197, 12)) blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -0.25rem 0.25rem 0.0675rem rgb(15, 52, 214),
    -0.35rem 0.35rem 0.0675rem rgb(15, 52, 214),
    -0.45rem 0.45rem 0.0675rem rgb(15, 52, 214);
  /* Add more shadows to simulate the gradient */
}

.skill-scss li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(200, 12, 184, 0.864))
    blur(0.4rem);
}

.skill-html {
  transform: translatey(0px);
  animation: skill 10.5s ease-in-out infinite;
}

@keyframes skill {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(42rem);
  }
  100% {
    transform: translatey(0px);
  }
}

.skill-css {
  margin-top: 5rem;
  transform: translatey(0px);
  animation: skill-css 11s ease-in-out infinite;
}

@keyframes skill-css {
  0% {
    transform: translatey(-5rem);
  }

  50% {
    transform: translatey(17rem);
  }

  100% {
    transform: translatey(-5rem);
  }
}

.skill-js {
  margin-top: 8rem;
  transform: translatey(0px);
  animation: skill-js 11.5s ease-in-out infinite;
}

@keyframes skill-js {
  0% {
    transform: translatey(-7rem);
  }

  50% {
    transform: translatey(15rem);
  }

  100% {
    transform: translatey(-7rem);
  }
}

.skill-python {
  margin-top: 10rem;
  transform: translatey(0px);
  animation: skill-python 12s ease-in-out infinite;
}

@keyframes skill-python {
  0% {
    transform: translatey(-8rem);
  }

  50% {
    transform: translatey(13rem);
  }

  100% {
    transform: translatey(-8rem);
  }
}

.skill-scss {
  margin-top: 12rem;
  transform: translatey(0px);
  animation: skill-scss 12.5s ease-in-out infinite;
}

@keyframes skill-scss {
  0% {
    transform: translatey(-11rem);
  }

  50% {
    transform: translatey(11rem);
  }

  100% {
    transform: translatey(-11rem);
  }
}

.skill-maintxt {
  font-weight: bold;
  font-size: 5rem;
  font-family: sans-serif;
  color: #444;
  padding-left: 10rem;
  padding-bottom: 3rem;
}

.skills {
  background-color: #f0ced9;
  background-image: url(/Main-portfolio/Assets/footer_bkg.jpg);
  background-size: 154rem 68.2rem;
  background-position: right 40% bottom 0%;

  background-repeat: no-repeat;
  /* background-position-x: center;
  background-position-y: top; */
  background-position: right 10%;
  /* background-size: 90px; */
  width: 100%;
}

/* .skill-background {
  background-image: url(/Main-portfolio/Assets/footer_bkg-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: right 40% bottom 0%;
} */

.Projects {
  margin-top: 4rem;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 60rem;
  gap: 1rem;
}

.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 300px 300px 300px; */
  gap: 1.5rem;
}

.project-1 {
  /* margin-top: 70px; */
  margin-left: 3rem;
  align-content: center;
  justify-content: center;
  margin-right: 3rem;
  /* background-color: #e2aa30; */
  /* padding-bottom: 350px; */
  border-radius: 1rem;
  border-top-right-radius: 1rem;
  /* display: grid; */
  /* grid-template-rows: 286.48px;
  grid-template-rows: 200px 20px 20px; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.project-1 img {
  height: 20rem;
  justify-self: center;
}

.project-1 h4 {
  /* padding-top: 30px; */
  padding-left: 5rem;
  justify-self: center;
}

.project-1 p {
  /* justify-self: center; */
  padding-left: 7.5rem;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}

.project-img {
  overflow: visible;
}

.project-img:hover {
  transform: scale(1.1);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.projects-content h3 {
  align-self: center;
  justify-self: center;
}

.Projects h2 {
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 4rem;
}

.project-img {
  max-height: 100%;
}
/* .project-1 img {
  max-width: 100%;
} */

/* .project-1:hover {
  background-color: aqua;
}

img:hover {
  background-color: aqua;
} */

/* .project-backimg {
  z-index: -1;
} */

.background {
  background: whitesmoke;
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 1rem;
  height: 1rem;
  border: solid 0.1rem #f0ced9;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: rgba(255, 188, 44, 1);
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  margin-top: 4rem;
}

.education {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 70rem;
}

.education-all {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 30px; */
}

.edu-diploma {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 4rem 35rem;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: skewX(-12deg);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr;
}

.edu-diploma:hover {
  transform: skewX(-14deg);
}
.engineering {
  height: 29.5rem;
}
.edu-diploma h4 {
  padding-left: 5rem;
  transform: skewX(12deg);
}

.collage-img {
  clip-path: circle(50% at 50% 50%);
  width: 15rem;
  height: 100%;

  transform: skewX(12deg);
  padding-left: 2rem;
}

.content li {
  transform: skewX(12deg);
}

.content {
  float: left;
}

.content {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.content img {
  align-self: center;
  justify-self: center;
}

.education h2 {
  justify-self: center;
  font-size: 4.5rem;
}

#edu {
  background: -webkit-linear-gradient(#7cc232, #37ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.66;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.education {
  position: relative;
  padding: 4rem 0;
}

footer {
  background-color: whitesmoke;
  color: #444;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem 20rem;
}

#btn-x {
  position: absolute;
  margin-top: 14rem;
  margin-left: 43rem;
}

.footer-text {
  justify-self: center;
  margin-top: 2rem;
}

.fafa-icons {
  display: grid;
  grid-template-columns: 7rem 7rem;
  grid-template-rows: 1fr;
  margin-left: 45rem;
  margin-bottom: 20rem;
}

#linkedin {
  display: inline;
  justify-self: center;
  margin-right: 7rem;
}

.foot-swich {
  margin-top: 8rem;
}

span {
  /* display: grid;
  grid-template-rows: 70px;
  grid-template-columns: 200px 200px; */
  display: inline;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 96rem;
  background-color: #f3f3f3;
  padding: 8rem 9.6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;

  /* display: grid;
  justify-items: center;
  justify-items: center;
  background: whitesmoke;
  box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  grid-template-columns: 950px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 40px;  */
  /* 
  margin: 0px 800px 200px 40px; */
  /* grid-area: 400px 600px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 100px;
  margin-bottom: 100px; */
}

/* .contact {
  opacity: 0;
  visibility: hidden;
} */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.4rem);
  z-index: 100;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.Name-text {
  padding: 4rem 0px;
}

#nameText {
  padding: 1rem 13rem 1rem 0px;
  border-radius: 1rem;
  color: white;
  border: 0.1rem solid #ddd;
}

#email {
  padding: 1rem 13rem 1rem 0px;
  border-radius: 1rem;
  border: 0.1rem solid #ddd;
}

#text-area {
  margin-top: 3rem;
  padding: 1rem 13rem 5rem 0px;
  border-radius: 1rem;
  border: 0.1rem solid #ddd;
}

#button-wrapper {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  top: calc(50% - 7rem);
  left: 0;
  padding: 2rem 0px;
  overflow: visible;
}

.submit {
  width: 15.5rem;
  height: 4.5rem;
  background: linear-gradient(
    to right,
    rgb(253, 173, 53) 10%,
    rgb(228, 81, 18) 90%
  );
  display: block;
  border-radius: 20rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  line-height: 300%;
}
.label {
  padding-right: 3rem;
}

#sub-btn {
  margin-top: 2rem;
}

.contact-head {
  color: orange;
  font-size: 4rem;
  margin-left: 10rem;
}

.btn-form {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  border-width: initial;
  border-style: none;

  border-color: initial;
  border-image: initial;
  background: none;
}

.project-btn {
  cursor: pointer;
}

/* media queryes */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    line-height: 1.4;
    color: #444;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    color: var(--color);
    background: var(--bgColor);
    overflow-x: hidden;
  }
  .nav-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }
  .nav-bar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
    /* gap: 30px; */
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
  }
  .main-text {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
    /* margin-bottom: 250px; */
  }
  .text-head {
    margin-top: 150px;
    /* padding-left: 200px; */
    display: grid;
    /* grid-template-rows: 100px 200px 100px 100px; */
  }
  .text-head p {
    padding-left: 50px;
    /* margin-left: 50px; */
  }
  .text-low,
  #text-low {
    font-size: 20px;
    font-weight: bold;
  }
  .text-head h1 {
    padding-left: 30px;
    font-size: 46px;
    margin-left: 100px;
    /* margin-top: 30px; */
  }
  span {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 150px 150px;
    margin: 0px;
    padding: 0%;
  }
  #github {
    justify-self: center;
  }
  #linkedin {
    margin-right: 210px;
  }

  .text-box {
    /* margin-top: 150px; */
    margin-left: 130px;
  }

  .Main-img {
    margin-left: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .foot-swich {
    width: 100%;
    background-image: url(/Main-portfolio/Assets/swish_orange_gradient.png);
    background-size: 100% 120px;
    /* background-position: center top; */
    background-repeat: no-repeat;
    height: 120px;
    border-top: 10px solid whitesmoke;
  }

  .special-img {
    background-image: url(/Main-portfolio/Assets/3d-hacker-cartoon-hacking-computer-with-headphones_1054285-12008-removebg.png);
    background-repeat: no-repeat;
    background-position: right 100% top 0%;
    background-size: 300px;
    padding-bottom: 100px;
  }

  .about-head {
    font-size: 30px;
    padding-left: 20px;
  }

  .about-h2 {
    padding-left: 150px;
  }

  .about-text {
    font-size: 20px;
  }

  .about-text {
    padding-right: 100px;
    font-size: 22px;
    margin-top: 50px;
  }
  .img-grid {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 500px;
  }

  .background-img {
    background-image: url(/Main-portfolio/Assets/pngtree-d-background-for-education-posts-welcoming-kids-and-students-back-to-image_13585453-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 333.5px;
    /* padding-bottom: 300px; */
    /* height: 200px; */
    background-position: top 0% right 100%;
    padding-right: 100px;
  }

  .foot-swich2 {
    width: 100%;
    background-image: url(/Main-portfolio/Assets/about-down.png);
    background-size: 100% 120px;
    /* background-position: center top; */
    background-repeat: no-repeat;
    height: 120px;
    background-color: #f0ced9;
  }
  .fafa-icons {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 1fr;
    margin-left: 200px;
    margin-bottom: 200px;
  }

  .skill-maintxt {
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    color: #444;
    padding-left: 70px;
    padding-bottom: 30px;
  }

  .skills {
    background-color: #f0ced9;
    background-image: url(/Main-portfolio/Assets/footer_bkg.jpg);
    background-size: 1000px;
    background-position: right 60% bottom 100%;
    background-repeat: no-repeat;
    background-position: right 10%;
    /* background-size: 90px; */
    width: 100%;
  }

  .skills-show {
    display: grid;
    grid-template-rows: 630px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  ol li {
    counter-increment: stepnr;
    width: 150px;
    --borderS: 1rem;
    aspect-ratio: 1;
    display: grid;
    justify-items: center;
    align-content: center;
    padding-left: calc(var(--borderS) + 60px);
    position: relative;
  }
  li {
    align-self: center;
  }

  .img-html {
    margin-right: 40px;
    width: 200px;
  }
  #img-css {
    margin-right: 40px;
    width: 130px;
  }
  #img-js {
    margin-right: 40px;
    width: 130px;
  }
  #img-python {
    margin-right: 40px;
    width: 130px;
  }
  #img-scss {
    margin-right: 40px;
    width: 130px;
  }
  .background {
    background: whitesmoke;
    background-size: 100% 70%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    margin-bottom: 70px;
    overflow: visible;
  }

  .Projects {
    margin-top: 40px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 100px 500px;
    gap: 20px;
  }
  .Projects h2 {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 40px;
  }
  .projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 35px;
    margin-top: 70px;
  }

  .projects-content h3 {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    padding-top: 60px;
    /* padding-left: 200px; */
  }
  .education {
    position: relative;
    padding: 40px 0;
  }

  .education {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 800px;
    overflow: hidden;
    justify-content: center;
  }

  .bg-video {
    display: grid;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    /* padding-top: 40px; */

    /* padding-bottom: 600px; */
    z-index: -1;
    opacity: 0.55;
  }

  .education h2 {
    justify-self: center;
    justify-items: center;
    font-size: 45px;
  }
  .edu-diploma {
    align-items: start;
    justify-items: flex-start;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 20px 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: skewX(-12deg);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }
  .education-all {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }

  .edu-diploma h4 {
    font-size: 25px;
    padding-top: 30px;
  }

  .content li {
    font-size: 20px;
  }

  #btn-x {
    position: absolute;
    margin-top: 140px;
    margin-left: 200px;
  }

  .contact-head {
    color: orange;
    font-size: 40px;
    margin-left: 60px;
  }

  .projects-h3 {
    margin-top: 200px;
  }
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    line-height: 1.2;
    color: #444;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    background-color: whitesmoke;
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    color: var(--color);
    background: var(--bgColor);
    overflow-x: hidden;
    max-width: 390px;
  }
  .nav-bar {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    position: relative;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
  }
  .nav-bar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* height: 100%; */
    z-index: 10;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;

    /* gap: 30px; */
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
  }
  .main-text {
    position: relative;
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 400px;
    gap: 20px;
    /* margin-bottom: 250px; */
  }

  .text-head {
    margin-top: 70px;
    /* padding-left: 200px; */
    display: grid;
    grid-template-rows: 100px 60px 100px 100px;
  }
  .text-head p {
    padding-left: 25px;
    font-size: 18px;
    /* margin-left: 50px; */
  }
  .text-low,
  #text-low {
    font-size: 20px;
    font-weight: bold;
  }
  .text-head h1 {
    padding-left: 30px;
    font-size: 30px;
    margin-left: 30px;
    /* margin-top: 30px; */
  }
  span {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 150px 150px;
    margin: 0px;
    padding: 0%;
  }
  #github {
    justify-self: center;
  }
  #linkedin {
    margin-right: 210px;
  }

  .text-box {
    /* margin-top: 150px; */
    margin-left: 80px;
  }

  .Main-img {
    margin-left: 10px;
    padding-top: 70px;
    padding-bottom: 100px;
    height: 400px;
  }
  .foot-swich {
    width: 100%;

    background-image: url(/Main-portfolio/Assets/swish_orange_gradient.png);
    background-size: 100% 120px;
    /* background-position: center top; */
    background-repeat: no-repeat;
    height: 125px;
    border-top: 10px solid whitesmoke;
    border-bottom: 1px solid rgba(255, 188, 44, 1);
  }
  .about-skills {
    position: inherit;
    width: 100%;
    background: rgb(225, 114, 24);
    background: linear-gradient(0deg, #e06f12 0%, rgba(255, 188, 44, 1) 45%);
    color: #f3feb8;
    border: none;
  }
  .About {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 500px 1fr;
    padding-top: 60px;
    color: whitesmoke;
    padding-left: 20px;
    /* gap: 20px; */
    /* padding: 300px; */
  }

  .special-img {
    background-image: url(/Main-portfolio/Assets/3d-hacker-cartoon-hacking-computer-with-headphones_1054285-12008-removebg.png);
    background-repeat: no-repeat;
    background-position: right 100% top 0%;
    background-size: 200px;
    padding-bottom: 100px;
  }

  .about-head {
    font-size: 25px;
    /* padding-right: 90px; */
  }

  .about-head {
    display: grid;
    /* grid-template-rows: 1fr 2fr; */
    /* grid-template-rows: 0.5fr 2fr; */
    grid-template-rows: 80px 500px;
    padding-left: 10px;
  }

  .about-h2 {
    padding-left: 40px;
  }

  .about-text {
    font-size: 15px;
  }

  .about-text {
    padding-right: 30px;
    /* font-size: 22px; */
    margin-top: 50px;
  }
  .img-grid {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 500px;
    background-position: right 100% top 0%;
  }

  .background-img {
    background-image: url(/Main-portfolio/Assets/pngtree-d-background-for-education-posts-welcoming-kids-and-students-back-to-image_13585453-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 180px;
    /* padding-bottom: 300px; */
    /* height: 200px; */
    background-position: top 0% right 0%;
    margin-right: 30px;
  }

  .btn:link,
  .btn:visited {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
  }
  .btn-white {
    background-color: orange;
    color: black;
  }

  .foot-swich2 {
    width: 100%;
    background-image: url(/Main-portfolio/Assets/about-down.png);
    background-size: 100% 120px;
    /* background-position: center top; */
    background-repeat: no-repeat;
    height: 120px;
    background-color: #f0ced9;
  }
  .fafa-icons {
    position: relative;
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 1fr;
    margin-left: 100px;
    cursor: pointer;
    /* margin-bottom: 190px; */
  }
  .fafa-icons img {
    height: 20px;
  }

  .skill-maintxt {
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    color: #444;
    padding-left: 70px;
    padding-bottom: 30px;
  }

  .skills {
    background-color: #f0ced9;
    background-image: url(/Main-portfolio/Assets/footer_bkg.jpg);
    background-size: 660px;
    /* background-position: right 60% bottom 100%; */
    background-repeat: no-repeat;
    background-position: right 10%;
    padding-top: 100px;
    background-position: center right 0%;
    /* background-size: 90px; */
    width: 100%;
    padding-bottom: 50px;
  }

  .skills-show {
    display: grid;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 700px;
    gap: 12px;
    align-content: center;
  }
  .skill-html {
    transform: translatey(0px);
    animation: skill 10.5s ease-in-out infinite;
  }

  @keyframes skill {
    0% {
      transform: translatex(0px);
    }

    50% {
      transform: translatex(236px);
    }
    100% {
      transform: translatex(0px);
    }
  }
  .skill-css {
    margin-top: 0px;
    transform: translatey(0px);
    animation: skill-css1 12s ease-in-out infinite;
  }
  @keyframes skill-css1 {
    0% {
      transform: translatex(0px);
    }

    50% {
      transform: translatex(116px);
    }
    100% {
      transform: translatex(0px);
    }
  }
  .skill-js {
    margin-top: 0px;
    transform: translatey(0px);
    animation: skill-js 13s ease-in-out infinite;
  }
  @keyframes skill-js {
    0% {
      transform: translatex(0px);
    }

    50% {
      transform: translatex(116px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  .skill-python {
    margin-top: 0px;
    transform: translatey(0px);
    animation: skill-python 14s ease-in-out infinite;
  }

  @keyframes skill-python {
    0% {
      transform: translatex(0px);
    }

    50% {
      transform: translatex(116px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  .skill-scss {
    margin-top: 0px;
    transform: translatey(0px);
    animation: skill-scss 15s ease-in-out infinite;
  }
  @keyframes skill-scss {
    0% {
      transform: translatex(0px);
    }

    50% {
      transform: translatex(116px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  ol li {
    counter-increment: stepnr;
    width: 150px;
    --borderS: 1rem;
    aspect-ratio: 1;
    display: grid;
    justify-items: center;
    align-content: center;
    padding-left: calc(var(--borderS) + 60px);
    position: relative;
  }
  li {
    align-self: center;
  }

  .img-html {
    margin-right: 40px;
    width: 200px;
  }
  #img-css {
    margin-right: 40px;
    width: 130px;
  }
  #img-js {
    margin-right: 40px;
    width: 130px;
  }
  #img-python {
    margin-right: 40px;
    width: 130px;
  }
  #img-scss {
    margin-right: 40px;
    width: 130px;
  }
  .background {
    background: whitesmoke;
    background-size: 50% 50%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    margin-bottom: 70px;
    overflow: visible;
  }

  .Projects {
    margin-top: 80px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 100px 600px;
    gap: 40px;
  }
  .Projects h2 {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 40px;
  }
  .projects-content {
    display: grid;
    grid-template-columns: 185px 185px;
    grid-template-rows: 200px 200px;
    gap: 10px;
    margin-top: 70px;
  }
  .project-1 img {
    height: 100px;
  }

  .projects-h3 {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    padding-top: 0px;
    padding-left: 40px;
    /* padding-left: 200px; */
  }
  .education {
    position: relative;
    padding: 30px 0;
  }

  .project-1 h4 {
    /* padding-top: 30px; */
    padding-left: 0px;
    font-size: 13px;
    justify-self: center;
  }

  .project-1 p {
    /* justify-self: center; */
    padding-left: 0px;
    font-size: 10px;
    justify-self: center;
    align-self: center;
  }

  .education {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 800px;
    overflow: hidden;
    justify-content: center;
  }

  .bg-video {
    display: grid;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    /* padding-top: 40px; */

    /* padding-bottom: 600px; */
    z-index: -1;
    opacity: 0.55;
  }

  .education h2 {
    justify-self: center;
    justify-items: center;
    font-size: 45px;
  }
  .edu-diploma {
    align-items: start;
    justify-items: flex-start;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: skewX(-12deg);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
  }
  .education-all {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }

  .content {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 200px;
  }

  .content img {
    height: 50px;
  }

  .edu-diploma h4 {
    font-size: 25px;
    padding-top: 30px;
  }

  .content li {
    font-size: 13px;
    padding-right: 3px;
  }

  .content img {
    align-self: center;
    padding-right: 30px;
  }

  footer {
    background-color: whitesmoke;
    color: #444;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
  }

  #btn-x {
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
  }

  #text-area {
    margin-top: 0px;
    padding: 10px 130px 50px 0px;
    border-radius: 10px;
  }

  .messge-1 {
    margin-top: 30px;
  }

  .message {
    margin-top: 30px;
  }

  .contact-head {
    color: orange;
    font-size: 40px;
    margin-left: 60px;
  }

  .btn-form {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.9rem;
    right: 4rem;
    font-size: 30px;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 80;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
